---
import { single, published, getPost } from '@blog/utils';
import type { Post, PostProps } from '#/post';
import { showArticleHeroImage, githubURL } from "@blog/config"
import Base from "./_ui/Base.astro"

export interface extendProps {

}
export type Props = Partial<PostProps> & extendProps

let { title, description, pubDate, updatedDate, heroImage, _images, filePath} = getPost(Astro.props as Props) as Props

if(showArticleHeroImage && _images && _images.length){
	heroImage = _images[0].url
}

---
<Base title={title} description={description}>
		{heroImage && <img class="hero-image" src={heroImage} alt="" />}
		<article class="typo article">
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && (
					<div>
						Last updated on <time>{updatedDate}</time>
					</div>
				)}
				{filePath && <a href={githubURL+"/article"+filePath} target="_blank" style="margin: 6px 0;display: inline-block;">在Github编辑</a>}
				<hr />
				<slot />
		</article>
		<!-- <div slot="side">
			sadsad
		</div> -->
</Base>
